@charset "UTF-8";

.article-right .header{
    display: inline-block!important;
    margin: 0!important;
}

.article-right .header{
    overflow: hidden!important;
    -webkit-line-clamp: 2!important;
    display: -webkit-box!important;
    -webkit-box-orient: vertical!important;
    word-break: break-all!important;
    line-height: 1.5;
    /*display: inline-block!important;*/
}

.article-image{
    width: 125px;
    height: 97px;
    margin-right: 10px;
    border-radius: 3px;
}

.default-image{
    background-color: #f1f1f1!important;
}

.article-right .authors-name{
    vertical-align: middle;
    width: 50%;
}

.article-right .authors-name:hover, .article-right .authors-name:focus{
    color: #333333;
}

/*.summary a:hover, .summary a:focus{*/
    /*color: #333333;*/
/*}*/

.comment-bar span, .comment-bar>a{
    margin-right: 12px;
    font-size: 12px;
    color: #b1b1b1;
}

.comment-bar i{
    margin-right: 3px;
    font-size: 14px;
    color: #b1b1b1;
}

.article-description{
    margin-bottom: 5px;
}

.index-list{
    padding: 0;
}

.index-list>li{
    margin: 0!important;
    border-bottom: 1px solid #f1f1f1!important;
    padding: 30px 0!important;
    position: relative;
}

.index-list>li:first-child{
    padding-top: 0!important;
}







